*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

main{
    background-color: aqua;
    width: 600px;
    margin: auto;
    padding: 15px;
}

main a{
    padding: 5px 7px;
    background-color: white;
    border: 1px darkgrey solid;
    text-decoration: none;
}

main a:hover{
    background-color: pink;
    color: white;
}

main h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

form{
    width: 490px;
    margin: auto;
}

label,
input{
    font-size: 16px;
    font-family: sans-serif;
    margin-right: 10px;
}

input{
    padding: 2px;
}

input[type ='text'] {
    width: 350px;
}

input[type ='submit'] {
    width: 50px;
}

.item-container{
    width: 420px;
    padding: 15px;
    margin: auto;
    border-bottom: 1px solid grey;
}

.item-container img{
    width: 150px;
    height: 200px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}

.item-description{
    width: 280px;
    float: left;
}

.Value{
    margin-bottom: 10px;
    color: grey;
    font-weight: normal;
}

.clear-fix{
    clear: both;
}